table {
  border-collapse: collapse;
}
tr {
  background: #eee;
  border-bottom: 1px solid #fff;
}
tr,
td {
  padding: 0;
}
tr td div {
  max-height: 0;
  padding: 0 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}
tr.active td {
  max-height: 100px;
  padding: 10px 10px;
  transition: max-height 0.1s, padding 0.2s;
  background-color: palegoldenrod;
}

.mandatory-input {
  color: rgb(252, 163, 163);
}
